doctype html
html(lang="ko")
d#allimage
    head
        title #{pageTitle} | #{siteName}
        link(rel="stylesheet", href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css")
        link(rel="stylesheet", href="/static/css/styles.css")
        link(rel="shorcut icon" href="#", type="image/x-icon")
    body
        include partials/header                
        main
         a(href="https://pink-melon.fly.dev/") 🍈
         if loggedIn
          a(href="/upload") Upload
          a(href=`/users/profile/${loggedInUser._id}`) #{loggedInUser.name}
          a(href="/users/logout") Log out
         else
          a(href="/login") Login   
    block content
        include partials/footer
    block scripts
        