doctype html
html(lang="ko")
    head
        title #{pageTitle} | #{siteName}
        link(rel="stylesheet", href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css")
        link(rel="stylesheet", href="/static/css/styles.css")
        link(rel="icon" href="data:;base64,iVBORw0KGgo=")
    body
        include partials/header                
        main
         a(href="/") Home
         if loggedIn
          a(href="/users/logout") 로그아웃
          a(href="/upload") Upload
          a(href=`/users/profile/${loggedInUser._id}`) #{loggedInUser.name}
         else
          a(href="/login") Login   
    block content
        include partials/footer
    block scripts
        