extends base

block content

   if errorMessage
     span=errorMessage
   form(method="POST",id="logg")
      input(type="text" , required , placeholder="Name" , name="username")
      input(type="text" , required , placeholder="PASSWORD", name="password")
      input(type="submit", value="Login", id="logsub")
      br
      a(href="/users/github/start") ✨Login with Github
   hr
   div#account
      span Do not have a account?
      a(href="/join") create a account 💫