extends base
include mixins/musicMixin

block content
    div#searchh
     form(method="POST", action="/search")
      input(type="text" id="searched" placeholder="search" name="search")  
    div#realComend  
     div#comend 
      div#play_center(data-Fd=music2._id)
       audio()
        source(src=`${music2.fileUrl}`,type="audio/mpeg")
       img#thumb(src=`${music2.thumbUrl}`, type="jpeg")
       div#playBtn
        button#play ▶
      div#Control_Center
       each potato in music 
        +music(potato)   
    script(src="/static/js/musicHandle.js")   

    if loggedIn
     if String(music2.owner) == String(loggedInUser._id)
      div#songId
       a#deleteSong(href=`${music2._id}/delete`) Delete this music

  
