extends base
include mixins/listMixin

block content
    div#searchh
     form(method="POST", action="/search")
      input(type="text" id="searched" placeholder="search" name="search")
    div#realComend  
     div#comend 
      div#play_center(data-Fd=music2._id)
       audio()
        source(src=`${music2.fileUrl}`,type="audio/mpeg")
       img#thumb(src=`${music2.thumbUrl}`, type="jpeg")
       div#playBtn
        button#play ▶
       div#timeRange
        span#currenTime 00:00
        span  /
        span#totalTime 00:00
       div 
        input(type="range",name="range", value="0", min="0",step="1" )#timeline
      div#Control_Center
       each potato in user.playlist 
        +list(potato)   
    script(src="/static/js/musicHandle.js")   
